<style>
    table {
        padding: 5px;
        border: 1px solid red;
        font-size: large;
        margin-bottom: 24px;
    }

    thead {
        margin: 5px;
        background-color: grey;
    }

    thead>tr>th {
        padding: 4px;
    }
</style>
<filter-textbox></filter-textbox>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Order Total</th>
        </tr>
    </thead>
    <tr>
        <td>
            <a>

            </a>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td>

        </td>
    </tr>
    <tr>
        <td colspan="4">No customers found</td>
    </tr>
</table>
Number of Customers:
<br />