<style>
    table {
        padding: 5px;
        border: 1px solid red;
        font-size: large;
        margin-bottom: 24px;
    }

    thead {
        margin: 5px;
        background-color: grey;
    }

    table>tr {
        border-bottom: 2px solid grey;
    }

    thead>tr>th {
        padding: 4px;
    }
</style>
<filter-textbox></filter-textbox>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Order Total</th>
        </tr>
    </thead>
    <tr *ngFor="let cust of filteredCustomers">
        <td>
            <a>
                {{ cust.name}}
            </a>
        </td>
        <td>{{ cust.city }} </td>
        <td>{{ cust.orderTotal }}</td>
    </tr>
    <tr *ngIf="filteredCustomers && filteredCustomers.length">
        <td colspan="2">&nbsp;</td>
        <td>
            {{ customersOrderTotal }}
        </td>
    </tr>
    <tr *ngIf="!filteredCustomers || !filteredCustomers.length">
        <td colspan="4">No customers found</td>
    </tr>
</table>
Number of Customers: {{ filteredCustomers.length }}
<br />